#root {
  height: 100%;
  min-height: 100vh; }

.Wrapper {
  width: 100%;
  height: 100vh;
  padding-bottom: .5rem; }

.Container {
  width: 100%;
  height: 100vh; }

.Main {
  width: 100%;
  height: 100%; }

.MyMenu ul li {
  display: inline-block; }

.Chat {
  padding: .44rem 0; }

.ChatInput {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 1px solid #eee;
  height: .44rem;
  background-color: #efefef;
  padding: .06rem; }
  .ChatInput aside {
    width: .4rem;
    height: .4rem;
    position: relative; }
    .ChatInput aside img {
      width: .3rem;
      height: .3rem;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -.15rem;
      margin-top: -.15rem; }
    .ChatInput aside input[type=file] {
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0; }
  .ChatInput input[type=text] {
    margin: 0 .08rem;
    border: 1px solid #ddd;
    border-radius: .05rem;
    height: .36rem;
    padding: 0 .04rem;
    color: #777; }
  .ChatInput button {
    height: .32rem;
    width: .8rem;
    background-color: #d33;
    color: #fff;
    border: none;
    border-radius: .04rem; }
