* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
  min-height: 100vh;
}

.Wrapper {
  width: 100%;
  height: 100vh;
  padding-bottom: .5rem;
}

.Container {
  width: 100%;
  height: 100vh;
}

.Main {
  width: 100%;
  min-height: 100%;
}

.withFixedBottom {
  padding-bottom: .6rem;
}

.fixedMain {
  padding-top: .44rem;
}


.fixedBottom {
  position: fixed;
  width: 100%;
  background-color: #fff;
  height: .6rem;
  left: 0;
  bottom: 0;
  padding: .1rem .12rem;
  box-shadow: 0 -1px 1px #ddd;
}

.mainBtn {
  width: 100%;
  display: block;
  height: .4rem;
  border: none;
  border-radius: .04rem;
  background-image: linear-gradient(45deg, #1abbe1, #2cc2ff);
  color: #fff;
}

.MyMenu {
  ul {
    li {
      display: inline-block;
    }
  }
}

.Chat {
  padding: .44rem 0;
}
.ChatInput {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 1px solid #eee;
  height: .44rem;
  background-color: #efefef;
  padding: .06rem;
  aside {
    width: .4rem;
    height: .4rem;
    position: relative;
    img {
      width: .3rem;
      height: .3rem;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -.15rem;
      margin-top: -.15rem;
    }
    input[type=file] {
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
  input[type=text] {
    margin: 0 .08rem;
    border: 1px solid #ddd;
    border-radius: .05rem;
    height: .36rem;
    padding: 0 .04rem;
    color: #777;
  }
  button {
    height: .32rem;
    width: .8rem;
    background-color: #d33;
    color: #fff;
    border: none;
    border-radius: .04rem;
  }
}

/* login page */
$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;

$main: #1ab188;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

.Login {
  height: 100%;
  background: rgba($form-bg, .9);
  // background-image: linear-gradient(45deg, #1abbe1, #2cc2ff);
  a {
    text-decoration:none;
    color:$main;
    transition:.5s ease;
    &:hover {
      color:$main-dark;
    }
  }

  .form {
    padding: 40px;
  }

  .tab-group {
    list-style:none;
    padding:0;
    margin:0 0 40px 0;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    li a {
      display:block;
      text-decoration:none;
      padding:15px;
      background:rgba($gray-light,.25);
      color:$gray-light;
      font-size:20px;
      float:left;
      width:50%;
      text-align:center;
      cursor:pointer;
      transition:.5s ease;
      &:hover {
        background:$main-dark;
        color:$white;
      }
    }
    .active a {
      background:$main;
      color:$white;
    }
  }

  h2 {
    text-align:center;
    color:$white;
    font-weight:$thin;
    margin:0 0 40px;
  }

  label {
    position:absolute;
    transform:translateY(6px);
    left:13px;
    color:rgba($white,.5);
    transition:all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size:22px;
    .req {
      margin:2px;
      color:$main;
    }
  }

  label.active {
    transform:translateY(50px);
    left:2px;
    font-size:14px;
    .req {
      opacity:0;
    }
  }

  label.highlight {
    color:$white;
  }

  input, textarea {
    font-size:22px;
    display:block;
    width:100%;
    height:100%;
    padding:5px 10px;
    background:none;
    background-image:none;
    border:1px solid $gray-light;
    color:$white;
    border-radius:0;
    transition:border-color .25s ease, box-shadow .25s ease;
    &:focus {
      outline:0;
      border-color:$main;
    }
  }

  textarea {
    border:2px solid $gray-light;
    resize: vertical;
  }

  .field-wrap {
    position:relative;
    margin-bottom:40px;
  }

  .top-row {
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    > div {
      float:left;
      width:48%;
      margin-right:4%;
      &:last-child { 
        margin:0;
      }
    }
  }

  .button {
    border:0;
    outline:none;
    border-radius:0;
    padding:15px 0;
    font-size: .2rem;
    font-weight: 500;
    text-transform:uppercase;
    letter-spacing:.1em;
    background:$main;
    color:$white;
    transition:all.5s ease;
    -webkit-appearance: none;
  }

  .button-block {
    display:block;
    width:100%;
  }

  .forgot {
    margin-top:-20px;
    text-align:right;
  }

  .disabled {
    background-color: #999;
  }

}


.userList {
}
.userItem {
  border-bottom: 1px solid #eee;
  padding: .12rem;
  height: .75rem;
  img {
    width: .5rem;
    margin-right: .16rem;
  }
  p {
    color: #666;
    font-size: .16rem;
  }
}
.Chat {
  background-color: #f4f4f4;
}
.msgItem {
  padding: .2rem;
  p {
    background: #fff;
    padding: .06rem .12rem;
    border-radius: .04rem;
    margin: 0rem 0.1rem;
    max-width: 2.4rem;
    word-break: break-all;
    color: #666;
    font-size: .14rem;
    position: relative;
  }
  .avatar {
    width: .3rem;
    height: .3rem;
  }
}
.me {
  p::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-width: .06rem 0 .06rem .06rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: .08rem;
    right: -.05rem;
  }
}
.friend {
  p::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-width: .06rem .06rem .06rem 0;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    top: .08rem;
    left: -.05rem;
  }
}

.Friends {
  padding-top: .44rem;
}

.userIcon {
  position: absolute;
}
.usersIcon {
  right: .1rem;
  top: .11rem;
  img {
    width: .22rem;
    height: .22rem;
  }
}
.addUserIcon {
  top: .1rem;
  right: .36rem;
  img {
    width: .24rem;
    height: .24rem;
  }
}

.My_header {
  width: 100%;
  height: 2rem;
  background-image: linear-gradient(45deg, #1abbe1, #2cc2ff);
  text-align: center;
  color: #fff;
  .avatar {
    img {
      border: .03rem solid #fff;
      width: .8rem;
      height: .8rem;
      border-radius: 50%;
    }
  }
  h3 {
    font-size: .2rem;
  }
}

.MyInfo {
  background-color: #f4f4f4;
  overflow-x: hidden;
  header {
    background-color: #fff;
    height: 1rem;
    padding: 0 .12rem;
    position: relative;
    font-size: .15rem;
    color: #666;
    img {
      width: .5rem;
      height: .5rem;
    }
    input[type=file] {
      display: block;
      position: absolute;
      width: .6rem;
      height: .6rem;
      opacity: 0;
    }
  }
}

.avatarModify {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  left: 0;
  top: 0;
  background-color: #000;
  img {
    max-width: 100vw;
    max-height: 80vh;
    margin: 0 auto;
  }
  footer {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: .4rem;
    button {
      border: none;
      background-color: #fff;
      width: 1rem;
      height: .4rem;
      border-radius: .04rem;
      font-size: .14rem;
      color: #333;
      &:first-child {
        margin-right: .12rem;
      }
      &:last-child {
      }
    }
  }
}

.MyInfo_form {
  margin-top: .12rem;
  margin-bottom: .2rem;
  background-color: #fff;
  padding: 0 .12rem;
  padding-bottom: .2rem;
  ul {
    li {
      &:not(:last-child) {
        border-bottom: 1px solid #eee;
      }
    }
  }
  label {
    padding: .08rem 0;
    height: .44rem;
    text-align: right;
    input {
      border: none;
      text-align: right;
      display: block;
      height: 100%;
      color: #666;
    }
    input[type=text], input[type=telephone], input[type=password], input[type=email] {
      width: 100%;
      background-color: #f7f7f7;
      padding-right: 0.08rem;
      border-radius: .03rem;
    }
    input[type=radio] {
      width: .18rem;
      height: .18rem;
      margin-right: .08rem;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      line-height: .3rem;
      color: #0a8acd;
    }
    aside {
      width: 60%;
      height: 100%;
    }
  }
  div {
    padding: .08rem 0;
    position: relative;
    textarea {
      background-color: #f7f7f7;
      width: 100%;
      height: 1rem;
      border: 1px solid #eee;
      padding: .08rem;
      resize:none;
      border-radius: .02rem;
    }
  }
  .active {
    background-color: #1abbe1;
    color: #fff;
  }
  .select {
    color: #0a8acd;
  }
}

.unedit {
  background-color: #fff !important;
  input[type=text] {
    background-color: #fff !important;
  }
}

.interestItem {
  display: block;
  height: .3rem;
  line-height: .3rem;
  border: 1px solid #eee;
  border-radius: .04rem;
  min-width: 20%;
  text-align: center;
  margin-right: 5%;
  margin-top: .1rem;
}

.ModifyPassword {
  .MyInfo_form {
    margin-top: 0;
    padding-bottom: 0;
  }
}

.searchHeader {
  border-bottom: 1px solid #eee;
  padding: 0 .1rem;
  label {
    height: .32rem;
    input[type=text] {
      height: .32rem;
      border: none;
      background: url(/img/search.png) no-repeat left center;
      background-size: .2rem;
      padding-left: .24rem;
      color: #555;
    }
    button {
      @extend .mainBtn;
      width: .52rem;
      height: .28rem;
      line-height: .28rem;
    }
  }
}

