* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#root {
  height: 100%;
  min-height: 100vh; }

.Wrapper {
  width: 100%;
  height: 100vh;
  padding-bottom: .5rem; }

.Container {
  width: 100%;
  height: 100vh; }

.Main {
  width: 100%;
  min-height: 100%; }

.withFixedBottom {
  padding-bottom: .6rem; }

.fixedMain {
  padding-top: .44rem; }

.fixedBottom {
  position: fixed;
  width: 100%;
  background-color: #fff;
  height: .6rem;
  left: 0;
  bottom: 0;
  padding: .1rem .12rem;
  box-shadow: 0 -1px 1px #ddd; }

.mainBtn {
  width: 100%;
  display: block;
  height: .4rem;
  border: none;
  border-radius: .04rem;
  background-image: linear-gradient(45deg, #1abbe1, #2cc2ff);
  color: #fff; }

.MyMenu ul li {
  display: inline-block; }

.Chat {
  padding: .44rem 0; }

.ChatInput {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 1px solid #eee;
  height: .44rem;
  background-color: #efefef;
  padding: .06rem; }
  .ChatInput aside {
    width: .4rem;
    height: .4rem;
    position: relative; }
    .ChatInput aside img {
      width: .3rem;
      height: .3rem;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -.15rem;
      margin-top: -.15rem; }
    .ChatInput aside input[type=file] {
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0; }
  .ChatInput input[type=text] {
    margin: 0 .08rem;
    border: 1px solid #ddd;
    border-radius: .05rem;
    height: .36rem;
    padding: 0 .04rem;
    color: #777; }
  .ChatInput button {
    height: .32rem;
    width: .8rem;
    background-color: #d33;
    color: #fff;
    border: none;
    border-radius: .04rem; }

/* login page */
.Login {
  height: 100%;
  background: rgba(19, 35, 47, 0.9); }
  .Login a {
    text-decoration: none;
    color: #1ab188;
    transition: .5s ease; }
    .Login a:hover {
      color: #179b77; }
  .Login .form {
    padding: 40px; }
  .Login .tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0; }
    .Login .tab-group:after {
      content: "";
      display: table;
      clear: both; }
    .Login .tab-group li a {
      display: block;
      text-decoration: none;
      padding: 15px;
      background: rgba(160, 179, 176, 0.25);
      color: #a0b3b0;
      font-size: 20px;
      float: left;
      width: 50%;
      text-align: center;
      cursor: pointer;
      transition: .5s ease; }
      .Login .tab-group li a:hover {
        background: #179b77;
        color: #ffffff; }
    .Login .tab-group .active a {
      background: #1ab188;
      color: #ffffff; }
  .Login h2 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px; }
  .Login label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px; }
    .Login label .req {
      margin: 2px;
      color: #1ab188; }
  .Login label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px; }
    .Login label.active .req {
      opacity: 0; }
  .Login label.highlight {
    color: #ffffff; }
  .Login input, .Login textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease; }
    .Login input:focus, .Login textarea:focus {
      outline: 0;
      border-color: #1ab188; }
  .Login textarea {
    border: 2px solid #a0b3b0;
    resize: vertical; }
  .Login .field-wrap {
    position: relative;
    margin-bottom: 40px; }
  .Login .top-row:after {
    content: "";
    display: table;
    clear: both; }
  .Login .top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%; }
    .Login .top-row > div:last-child {
      margin: 0; }
  .Login .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: .2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none; }
  .Login .button-block {
    display: block;
    width: 100%; }
  .Login .forgot {
    margin-top: -20px;
    text-align: right; }
  .Login .disabled {
    background-color: #999; }

.userItem {
  border-bottom: 1px solid #eee;
  padding: .12rem;
  height: .75rem; }
  .userItem img {
    width: .5rem;
    margin-right: .16rem; }
  .userItem p {
    color: #666;
    font-size: .16rem; }

.Chat {
  background-color: #f4f4f4; }

.msgItem {
  padding: .2rem; }
  .msgItem p {
    background: #fff;
    padding: .06rem .12rem;
    border-radius: .04rem;
    margin: 0rem 0.1rem;
    max-width: 2.4rem;
    word-break: break-all;
    color: #666;
    font-size: .14rem;
    position: relative; }
  .msgItem .avatar {
    width: .3rem;
    height: .3rem; }

.me p::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-width: .06rem 0 .06rem .06rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: .08rem;
  right: -.05rem; }

.friend p::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-width: .06rem .06rem .06rem 0;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  top: .08rem;
  left: -.05rem; }

.Friends {
  padding-top: .44rem; }

.userIcon {
  position: absolute; }

.usersIcon {
  right: .1rem;
  top: .11rem; }
  .usersIcon img {
    width: .22rem;
    height: .22rem; }

.addUserIcon {
  top: .1rem;
  right: .36rem; }
  .addUserIcon img {
    width: .24rem;
    height: .24rem; }

.My_header {
  width: 100%;
  height: 2rem;
  background-image: linear-gradient(45deg, #1abbe1, #2cc2ff);
  text-align: center;
  color: #fff; }
  .My_header .avatar img {
    border: .03rem solid #fff;
    width: .8rem;
    height: .8rem;
    border-radius: 50%; }
  .My_header h3 {
    font-size: .2rem; }

.MyInfo {
  background-color: #f4f4f4;
  overflow-x: hidden; }
  .MyInfo header {
    background-color: #fff;
    height: 1rem;
    padding: 0 .12rem;
    position: relative;
    font-size: .15rem;
    color: #666; }
    .MyInfo header img {
      width: .5rem;
      height: .5rem; }
    .MyInfo header input[type=file] {
      display: block;
      position: absolute;
      width: .6rem;
      height: .6rem;
      opacity: 0; }

.avatarModify {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  left: 0;
  top: 0;
  background-color: #000; }
  .avatarModify img {
    max-width: 100vw;
    max-height: 80vh;
    margin: 0 auto; }
  .avatarModify footer {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: .4rem; }
    .avatarModify footer button {
      border: none;
      background-color: #fff;
      width: 1rem;
      height: .4rem;
      border-radius: .04rem;
      font-size: .14rem;
      color: #333; }
      .avatarModify footer button:first-child {
        margin-right: .12rem; }

.MyInfo_form {
  margin-top: .12rem;
  margin-bottom: .2rem;
  background-color: #fff;
  padding: 0 .12rem;
  padding-bottom: .2rem; }
  .MyInfo_form ul li:not(:last-child) {
    border-bottom: 1px solid #eee; }
  .MyInfo_form label {
    padding: .08rem 0;
    height: .44rem;
    text-align: right; }
    .MyInfo_form label input {
      border: none;
      text-align: right;
      display: block;
      height: 100%;
      color: #666; }
    .MyInfo_form label input[type=text] {
      width: 100%;
      background-color: #f7f7f7;
      padding-right: 0.08rem;
      border-radius: .03rem; }
    .MyInfo_form label input[type=radio] {
      width: .18rem;
      height: .18rem;
      margin-right: .08rem; }
    .MyInfo_form label a {
      display: block;
      width: 100%;
      height: 100%;
      line-height: .3rem;
      color: #0a8acd; }
    .MyInfo_form label aside {
      width: 60%;
      height: 100%; }
  .MyInfo_form div {
    padding: .08rem 0;
    position: relative; }
    .MyInfo_form div textarea {
      background-color: #f7f7f7;
      width: 100%;
      height: 1rem;
      border: 1px solid #eee;
      padding: .08rem;
      resize: none; }
  .MyInfo_form .active {
    background-color: #1abbe1;
    color: #fff; }

.unedit {
  background-color: #fff !important; }
  .unedit input[type=text] {
    background-color: #fff !important; }

.interestItem {
  display: block;
  height: .3rem;
  line-height: .3rem;
  border: 1px solid #eee;
  border-radius: .04rem;
  min-width: 20%;
  text-align: center;
  margin-right: 5%;
  margin-top: .1rem; }
